/* https://andy-bell.co.uk/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* end reset */

    /* fonts */
    @font-face {
        font-family: Atkinson Hyperlegible;
        font-display: swap;
        src: url(atkinson-hyperlegible-regular.woff2) format("woff2");
        font-weight: 400;
        font-style: normal
    }

    :root {
        /* globals */
        --font-body: Atkinson Hyperlegible, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
        --font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, Monaco, ui-monospace, SF Mono, Droid Sans Mono, Source Code Pro, monospace;
        font-family: var(--font-body);
        font-size: calc(.25vw + 1rem);
        --ratio: 1.25;
        line-height: var(--ratio);
        --lead: var(--ratio);
        --measure: 66ch;
        --lead-tight: calc(var(--lead) * 0.79);
        --lead-loose: calc(var(--lead) * var(--lead));
        --track-out: 0.125ch;
        --track-in: -0.025ch;
        --type-3xl: clamp(3.34rem, calc(2.84rem + 2.49vw), 4.77rem);
        --type-2xl: clamp(2.67rem, calc(2.27rem + 1.99vw), 3.82rem);
        --type-xl: clamp(2.14rem, calc(1.82rem + 1.59vw), 3.05rem);
        --type-l: clamp(1.71rem, calc(1.45rem + 1.27vw), 2.44rem);
        --type-m: clamp(1.37rem, calc(1.16rem + 1.02vw), 1.95rem);
        --type-s: clamp(1.09rem, calc(0.93rem + 0.82vw), 1.56rem);
        --type-xs: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
        --type-2xs: clamp(0.70rem, calc(0.60rem + 0.52vw), 1.00rem);
        --type-3xs: clamp(0.56rem, calc(0.48rem + 0.42vw), 0.80rem);
        --space-2xl: clamp(2.63rem, calc(2.23rem + 1.96vw), 3.75rem);
        --space-xl: clamp(1.75rem, calc(1.49rem + 1.30vw), 2.50rem);
        --space-l: clamp(1.31rem, calc(1.12rem + 0.98vw), 1.88rem);
        --space-m: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
        --space-s: clamp(0.69rem, calc(0.60rem + 0.43vw), 0.94rem);
        --space-xs: clamp(0.44rem, calc(0.37rem + 0.33vw), 0.63rem);
        --space-2xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
        --space-xl-2xl: clamp(1.75rem, calc(1.05rem + 3.48vw), 3.75rem);
        --space-l-xl: clamp(1.31rem, calc(0.90rem + 2.07vw), 2.50rem);
        --space-s-xl: clamp(0.69rem, calc(0.06rem + 3.15vw), 2.50rem);
        --space-m-l: clamp(0.88rem, calc(0.53rem + 1.74vw), 1.88rem);
        --space-s-l: clamp(0.69rem, calc(0.27rem + 2.07vw), 1.88rem);
        --space-s-m: clamp(0.69rem, calc(0.49rem + 0.98vw), 1.25rem);
        --space-xs-s: clamp(0.44rem, calc(0.26rem + 0.87vw), 0.94rem);
        --space-2xs-xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
        --_color-light: var(--color-light, hsl(0, 0%, 97%));
        --_color-neutral: var(--color-neutral, hsl(0, 0%, 60%));
        --_color-dark: var(--color-dark, hsl(223, 64%, 11%));
        --_color-darkish: var(--color-darkish, hsla(220, 48%, 19%, 0.91));
        --_color-light: var(--color-light, hsl(0, 0%, 97%));
        --_color-cornflowerblue: var(--color-cornflowerblue, hsl(219, 79%, 66%));
        --_color-yellowgreen: var(--color-yellowgreen, hsl(80, 61%, 50%));
        background-color: var(--_color-dark);
        color: var(--_color-light);
    }

    body {
        background: linear-gradient(14deg, hsl(223, 64%, 9%), hsl(223, 64%, 10%), hsl(223, 64%, 11%), hsl(223, 64%, 11%), hsl(223, 64%, 11%), hsl(223, 64%, 12%), hsl(220, 48%, 17%));
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: normal;
    }

    h1 {
        font-size: var(--type-2xl);
        line-height: var(--lead-tight);
    }

    h2 {
        font-size: var(--type-m);
    }

    h3 {
        font-size: var(--type-xs);
    }

    h4,
    p {
        font-size: var(--type-2xs);
    }

    a {
        text-decoration-line: underline;
        text-decoration-color: hsla(80, 61%, 50%, 0);
        text-decoration-style: wavy;
        text-decoration-thickness: 0.14em;
        text-underline-offset: .9ex;
        transition: text-decoration-color 1200ms, text-underline-offset 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    a:hover {
        text-decoration-color: hsla(219, 79%, 66%, .91);
        text-underline-offset: 0.2ex;
    }

    /* layout primitives */

    .box {
        padding: var(--space-s-m);
        background-color: var(--_color-darkish);
        border: var(--_color-cornflowerblue) dashed 1px;
        border-radius: var(--space-s);
    }

    .box * {
        color: inherit;
    }

    .box .with-icon {
        background-color: var(--_color-dark);

    }

    .icon {
        width: 0.75em;
        width: 1cap;
        height: 0.75em;
        height: 1cap;
    }

    .with-icon {
        display: inline-flex;
        align-items: baseline;
    }

    .with-icon .icon {
        margin-inline-end: var(--space-s-m);
    }

    .stack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stack>* {
        margin-block: 0;

    }

    .stack>*+* {
        margin-block-start: var(--space-xs-s, .5rem);

    }

    .stack:only-child {
        block-size: 100%;
    }

    .stack> :nth-child(4) {
        margin-block-end: auto;
    }

    .switcher {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs-s);
    }

    .switcher>* {
        flex-grow: 1;
        flex-basis: calc(var(--measure) - 100% * 999);
    }

    .switcher> :nth-last-child(n+ 4),
    .switcher> :nth-last-child(n+ 4)~* {
        flex-basis: 100%;
    }

    /* utils */

    .stretch {
        height: 97vh;
        /* height: auto; */
    }

    .center {
        box-sizing: content-box;
        margin-inline: auto;
        text-align: center;
        max-inline-size: var(--measure);
    }

    .text-align\:center {
        text-align: center;
    }

    .track-out {
        letter-spacing: var(--track-out);
    }

    .flourish {
        color: var(--_color-yellowgreen);
    }

    .padding\:s-m {
        padding: var(--space-s-m);
    }

    .margin-bottom\:xs {
        margin-bottom: var(--space-xs);
    }

    .* {
        /* debugger */
        outline: hsla(330, 100%, 71%, .5) dashed 1px;
    }

    /* motion */

    .play span {
        animation: play 1.3s ease-in-out infinite;
        animation-delay: calc(.2s * var(--a));
        display: inline-block;
    }

    @keyframes play {
        40% {
            transform: translateY(-10px)
        }
    }

    /* Inspired by https://github.com/Goodkatz 🇫🇮 🤜🤛 🇺🇸 */

    .waves {
        margin-top: auto;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 15vh;
    }

    .swell>use {
        animation: swells 30s cubic-bezier(.65, .60, .55, .60) infinite;
    }

    .swell>use:nth-child(1) {
        animation-delay: -1s;
        animation-duration: 8s;
    }

    .swell>use:nth-child(2) {
        animation-delay: -2s;
        animation-duration: 11s;
    }

    .swell>use:nth-child(3) {
        animation-delay: -5s;
        animation-duration: 16s;
    }

    .swell>use:nth-child(4) {
        animation-delay: -6s;
        animation-duration: 19s;
    }

    @keyframes swells {
        0% {
            transform: translateX(90px);
        }

        100% {
            transform: translateX(-86px);
        }
    }
